body{
    text-align: left;
    color: white;
    background-color: black;
    text-align: center;
}

.titulo {
    font-family: monospace;
    color: white;
}

.subtitulo {
    text-align: center;
    font-family: monospace;
}

.fotocidade{
    text-align: center;
}
footer{
    background-color: blueviolet;
    height: auto;
    width: auto;
}